.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.background {
  /* background-image: url('./assets/background.png'); */
  background-size: cover;
}
.signBackground{
  background: linear-gradient(173deg,#ecf4ff -.79%,#d3e1ff 94.5%);

}